@font-face {
    font-family: 'ibarra_real_novaitalic';
    src: url('/homework6/homework8/fonts/ibarrarealnova-italic-variablefont_wght-webfont.woff') format('woff'),
         url('/homework6/homework8/fonts/ibarrarealnova-italic-variablefont_wght-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}